html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.div-form {
  /* centra horizontal con auto y baja un poco */
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.5); /* color de fondo del form */
  color: #ffffee; /* texto blanco */
  box-shadow: 0 2px 8px #074058;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}